.global-empty {
    margin-bottom: 16px;
}

.global-empty .ant-empty {
    padding: 32px 16px;
}

@media (max-width: 767px) {
    .global-empty .ant-empty-description {
        font-size: 0.9em;
    }
}
